extends layout

block page-header
  h1 M3D

block page-content
  .jumbotron
    h1 Stay tuned!
    p m3d is coming soon!

  p In the meantime, why don't you check out the following links?
  p
    a(href='/create', role="button").btn.btn-default Map